table{
    color: black;
    text-align: center;
    border-collapse: collapse;
}
body{
    color:black;
}
td{
    padding: 30px;
}
.black{
    background-color: black;
}
div{
     margin-top: 50px;
    margin-left: 400px;

  /* text-align: center; */
}
